@tailwind base;
@tailwind components;
@tailwind utilities;

@root {
  font-family: 'Inter', sans-serif;
  font-optional-sizing: auto;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
